include __pkginfo__.py
include LICENSE
include requirements.txt
recursive-exclude **/__pycache__ *
recursive-include sphinxcontrib.extras_require/ *.pyi
recursive-include sphinxcontrib.extras_require/ py.typed
